name: CI

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  ci:
    name: Flutter CI
    uses: banua-coder/banua-coder-workflow/.github/workflows/ci-flutter.yml@v1
    with:
      flutter-version: 'stable'
      flutter-channel: 'stable'
      run-analyze: true
      run-format: true
      run-tests: true
      run-coverage: true
      post-coverage-comment: true
      analyze-directories: 'lib'
      format-directories: 'lib,test'
